Resources/jabberpoint.dtd

<!--
Document Type Definition for JabberPoint Slide Shows
$Id$
-->
<!ELEMENT presentation (showtitle, slide+)>
<!ELEMENT showtitle (#PCDATA)>
<!ELEMENT slide (title, items+)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT items (text|image|action)*>
<!ELEMENT text (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT action (text|image|action)+>
<!ATTLIST text level CDATA #REQUIRED>
<!ATTLIST image level CDATA #REQUIRED>
<!ATTLIST action name CDATA #REQUIRED>